.auth-header{
    font-size: 36px;
    color:white;
    justify-self: flex-start;
    font-family: "pallete Mosaic";
}
.sidesvg{
    display:"flex";
    background-color: #ff0000;
    flex-direction: column;
    align-items:"center";
    justify-content: center;
}
